.navigation_theme {
  flex-direction: column;
  padding: 0;
}
.anime_menu {
  display: none;
}
.btn-anime {
  /* align-self: flex-end; */
  margin: 0.5rem 1rem;
  min-width: 0.5rem;
  text-align: center;
}
header {
  margin: 0;
}
.btn-anime::before {
  content: "  Articles +";
  display: block;
  font-size: 2rem;
  padding: 0.5rem;
  text-align: center;
  font-weight: 700;
  transition: transform 1s ease-in-out;
  transform-origin: center;
  color: var(--gray-hint);
}

.navigation_theme:hover .btn-anime::before {
  color: var(--secondary);
}
.navigation_theme:hover .anime_menu {
  display: block;
  padding: 0.5rem;
}
